<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="text-align: center;"><%= @afformation.afformation_text %></h1>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <%= image_tag attachments.inline[@random_image].url, alt: 'Why are you so grounded in yourself that you do not even *need* an inspirational photo?', width: "600", height: "450", style: "display: block; border-radius: 50px; opacity: .75; max-width: 100%; height: auto !important;" %>
          </td>
        </tr>
    </table>
    <p style="text-align: center;">Return to <a href="https://daily-afformations.herokuapp.com/">Afformational Change</a> anytime to create, ruminate, or answer your afformations.</p>
  </body>
</html>
