<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>How did you find the courage and power within yourself to change your thoughts, and the resourcefulness and wisdom to find such an efficient, effective way to enact change? </h1>
    <p>
      Only you have the answer to this afformation--but regardless of whether you're feeling motivated tomorrow (or the next day), change is now inevitable--you've successfully signed up to receive daily afformations!
    </p>
    <p>
      Thanks for joining! Get ready to change your thoughts ;)
    </p>
  </body>
</html>