<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Afformation</th>
      <th>Your Response</th>
      <th>Add Response</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sent_afformations.each do |sent_afformation| %>
      <tr>
        <td><%= sent_afformation.afformation_text %></td>
        <td><%= sent_afformation.user_response_to_afformation %></td>
        <td><%= link_to 'Respond', edit_sent_afformation_path(sent_afformation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
