<p id="notice" class="text-success"><%= notice %></p>

<h2 class="text-center">Received Afformations:</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Afformation:</th>
      <th scope="col">Your Response:</th>
      <th scope="col" class="text-center">Respond</th>
    </tr>
  </thead>

  <tbody>
    <% @sent_afformations.each do |sent_afformation| %>
      <tr>
        <td><%= sent_afformation.afformation_text %></td>
        <td><%= sent_afformation.user_response_to_afformation %></td>
        <td><%= link_to edit_sent_afformation_path(sent_afformation) do %>
          <div class="text-center">
            <!-- <span class="fa fa-mail-reply"></span> -->
             <span class="fa fa-pencil-square-o fa-lg btn-light"></span>
          </div>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>