<h2 class="text-center"> "How have I managed to change my life so quickly?" </h2>

</br>
<p class="center">
  Congratulations on beginning your journey to a better life and recognizing that you hold the power to change! Changing your thoughts can be challenging--yet effective. So far, you've made <%= @user_afformations_count %> personal afformations and have received <%= @user_sent_afformations_count %> afformations, along with officially responding to <%= @user_responses_count %> of your daily afformations. 
</p>
<p>
  Remember, though, that afformations are so powerful because:
  <ul>
    <li> your mind subsconsciously answers the questions you ask it</li>
    <li> afformations can be used to reword negative thoughts into positive ones</li>
    <li> underlying many afformations lie the assumption that you have, can, or will achieve your goals</li>
  </ul>
</p>

</br></br></br>

<%= link_to "Would you like to edit your profile, unsubscribe, or delete your account?", edit_user_registration_path, class: "btn btn-sm btn-outline-warning" %>