<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to AfformativeChange, <%= @customer.name %>!</h1>
    <p>
      You have successfully signed up to receive daily afformations.
    </p>
    <p>
      Thanks for joining! Get ready to change your thoughts ;)
    </p>
  </body>
</html>