<p id="notice"><%= notice %></p>

<p>
  <strong>Afformation text:</strong>
  <%= @afformation.afformation_text %>
</p>

<%= link_to 'Edit', edit_afformation_path(@afformation) %> |
<%= link_to 'Back', afformations_path %>
